In [1]:
import pandas as pd

In [2]:
%%bash
cd data/
ls

Newspapers.csv
Newspapers.txt
Q1.txt
Q6.txt
Q7.txt
SAFI_crops.csv
SAFI_grass_roof_burntbricks.csv
SAFI_grass_roof.csv
SAFI_grass_roof_muddaub.csv
SAFI.json
SAFI_results_anon.csv
SAFI_results.csv
SN7577i_aa.csv
SN7577i_a.csv
SN7577i_bb.csv
SN7577i_b.csv
SN7577i_c.csv
SN7577i_d.csv
SN7577.sqlite
SN7577.tab

In [3]:
df = pd.read_csv('data/SAFI_results.csv')

In [6]:
df.columns

Index(['Column1', 'A01_interview_date', 'A03_quest_no', 'A04_start', 'A05_end',
       'A06_province', 'A07_district', 'A08_ward', 'A09_village',
       'A11_years_farm', 'A12_agr_assoc', 'B11_remittance_money',
       'B16_years_liv', 'B17_parents_liv', 'B18_sp_parents_liv',
       'B19_grand_liv', 'B20_sp_grand_liv', 'B_no_membrs',
       'C01_respondent_roof_type', 'C02_respondent_wall_type',
       'C02_respondent_wall_type_other', 'C03_respondent_floor_type',
       'C04_window_type', 'C05_buildings_in_compound', 'C06_rooms',
       'C07_other_buildings', 'D_plots_count', 'E01_water_use',
       'E17_no_enough_water', 'E19_period_use', 'E20_exper_other',
       'E21_other_meth', 'E23_memb_assoc', 'E24_resp_assoc', 'E25_fees_water',
       'E26_affect_conflicts', 'E_no_group_count', 'E_yes_group_count',
       'F04_need_money', 'F05_money_source_other', 'F06_crops_contr',
       'F08_emply_lab', 'F09_du_labour', 'F10_liv_owned_other', 'F12_poultry',
       'F13_du_look_aftr_cows', 'F_liv_count', 'G01_no_meals',
       '_members_count', '_note', 'gps:Accuracy', 'gps:Altitude',
       'gps:Latitude', 'gps:Longitude', 'instanceID'],
      dtype='object')

In [10]:
from datetime import datetime

In [12]:
today = datetime.today()
today

datetime.datetime(2018, 6, 9, 9, 48, 41, 195591)

In [13]:
format = "%a %b %d %H:%M:%S %Y"

s = today.strftime(format)

In [14]:
s

'Sat Jun 09 09:48:41 2018'

In [16]:
format = "%Y-%m-%dT%H:%M:%S.%fZ"
f = open('data/SAFI_results.csv', 'r')

#skip the header line
line = f.readline()

# next line has data
line = f.readline()

strdate_start = line.split(',')[3]  # A04_start
strdate_end = line.split(',')[4]    # A05_end

print(type(strdate_start), strdate_start)
print(type(strdate_end), strdate_end)

<class 'str'> 2017-03-23T09:49:57.000Z
<class 'str'> 2017-04-02T17:29:08.000Z

In [20]:
date_start = datetime(1988,1,6)

In [21]:
date_end = datetime.today()

In [23]:
print(date_end - date_start)

11112 days, 9:52:05.493023

In [24]:
print(date_start- date_end)

-11113 days, 14:07:54.506977

In [25]:
df_SN7577 = pd.read_csv("data/SN7577.tab", sep='\t')

In [38]:
for name, dtype in zip(df_SN7577.columns,df_SN7577.dtypes):
    print (name, dtype)

Q1 int64
Q2 int64
Q3 int64
Q4 int64
Q5ai int64
Q5aii int64
Q5aiii int64
Q5aiv int64
Q5av int64
Q5avi int64
Q5avii int64
Q5aviii int64
Q5aix int64
Q5ax int64
Q5axi int64
Q5axii int64
Q5axiii int64
Q5axiv int64
Q5axv int64
Q5bi int64
Q5bii int64
Q5biii int64
Q5biv int64
Q5bv int64
Q5bvi int64
Q5bvii int64
Q5bviii int64
Q5bix int64
Q5bx int64
Q5bxi int64
Q5bxii int64
Q5bxiii int64
Q5bxiv int64
Q5bxv int64
Q6 int64
Q7a int64
Q7b int64
Q8 int64
Q9 int64
Q10a int64
Q10b int64
Q10c int64
Q10d int64
Q11a int64
Q11b int64
Q12a int64
Q12b int64
Q13i int64
Q13ii int64
Q13iii int64
Q13iv int64
Q14 int64
Q15 int64
Q16a int64
Q16b int64
Q16c int64
Q16d int64
Q16e int64
Q16f int64
Q16g int64
Q16h int64
Q17a int64
Q17b int64
Q17c int64
Q17d int64
Q17e int64
Q17f int64
Q17g int64
Q18ai int64
Q18aii int64
Q18aiii int64
Q18aiv int64
Q18av int64
Q18avi int64
Q18avii int64
Q18aviii int64
Q18aix int64
Q18bi int64
Q18bii int64
Q18biii int64
Q18biv int64
Q18bv int64
Q18bvi int64
Q18bvii int64
Q18bviii int64
Q18bix int64
Q19a int64
Q19b int64
Q19c int64
Q19d int64
access1 int64
access2 int64
access3 int64
access4 int64
access5 int64
access6 int64
access7 int64
web1 int64
web2 int64
web3 int64
web4 int64
web5 int64
web6 int64
web7 int64
web8 int64
web9 int64
web10 int64
web11 int64
web12 int64
web13 int64
web14 int64
web15 int64
web16 int64
web17 int64
web18 int64
dbroad int64
intten int64
netfq int64
daily1 int64
daily2 int64
daily3 int64
daily4 int64
daily5 int64
daily6 int64
daily7 int64
daily8 int64
daily9 int64
daily10 int64
daily11 int64
daily12 int64
daily13 int64
daily14 int64
daily15 int64
daily16 int64
daily17 int64
daily18 int64
daily19 int64
daily20 int64
daily21 int64
daily22 int64
daily23 int64
daily24 int64
daily25 int64
sunday1 int64
sunday2 int64
sunday3 int64
sunday4 int64
sunday5 int64
sunday6 int64
sunday7 int64
sunday8 int64
sunday9 int64
sunday10 int64
sunday11 int64
sunday12 int64
sunday13 int64
sunday14 int64
sunday15 int64
sunday16 int64
sunday17 int64
sunday18 int64
sunday19 int64
sunday20 int64
press1 int64
press2 int64
broadsheet1 int64
broadsheet2 int64
broadsheet3 int64
popular1 int64
popular2 int64
popular3 int64
popular4 int64
popular5 int64
sex int64
age int64
agegroups int64
numage int64
class int64
sgrade int64
work int64
gor int64
qual int64
ethnic int64
ethnicity int64
party int64
cie int64
wrkcie int64
income int64
tenure int64
tennet int64
lstage int64
maritl int64
numhhd int64
numkid int64
numkid2 int64
numkid31 int64
numkid32 int64
numkid33 int64
numkid34 int64
numkid35 int64
numkid36 int64
wts float64

In [40]:
len(name)

3

## joins

In [45]:
df_aa = pd.read_csv('data/SN7577i_aa.csv')
df_bb = pd.read_csv('data/SN7577i_bb.csv')

In [46]:
df_aa.head()

   Id  Q1  Q2  Q3
0   1   1  -1   1
1   2   3  -1   1
2   3  10   3   2
3   4   9  -1  10
4   5  10   2   6

In [47]:
df_bb.head()

     Id  Q1  Q2  Q4
0  1277  10  10   6
1  1278   2  -1   4
2  1279   2  -1   5
3  1280   1  -1   3
4  1281  10   2   4

In [51]:
df_aa_bb = pd.merge(df_aa,df_bb,how='outer',on='Id')
df_aa_bb.head()

   Id  Q1_x  Q2_x    Q3  Q1_y  Q2_y  Q4
0   1   1.0  -1.0   1.0   NaN   NaN NaN
1   2   3.0  -1.0   1.0   NaN   NaN NaN
2   3  10.0   3.0   2.0   NaN   NaN NaN
3   4   9.0  -1.0  10.0   NaN   NaN NaN
4   5  10.0   2.0   6.0   NaN   NaN NaN

In [53]:
df_aa_bb = pd.merge(df_aa,df_bb,how='outer',on='Id',suffixes=('_aa', '_bb'), indicator = True)
df_aa_bb.head()

   Id  Q1_aa  Q2_aa    Q3  Q1_bb  Q2_bb  Q4     _merge
0   1    1.0   -1.0   1.0    NaN    NaN NaN  left_only
1   2    3.0   -1.0   1.0    NaN    NaN NaN  left_only
2   3   10.0    3.0   2.0    NaN    NaN NaN  left_only
3   4    9.0   -1.0  10.0    NaN    NaN NaN  left_only
4   5   10.0    2.0   6.0    NaN    NaN NaN  left_only